.sections1{
    position: absolute;
        width: 73px;
        height: 38px;
        left: 495px;
        top: 174px;
}

.sections2{
    position: absolute;
        width: 128px;
        height: 38px;
        left: 576px;
        top: 174px;
}

.sections3{
    position: absolute;
        width: 145px;
        height: 38px;
        left: 712px;
        top: 174px;
}

.sections4{
    position: absolute;
        width: 103px;
        height: 38px;
        left: 865px;
        top: 174px;
}

.sections5{
    position: absolute;
        width: 130px;
        height: 38px;
        left: 976px;
        top: 174px;
}

.foto1{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 215px;
        top: 262px;
}

.foto2{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 615px;
        top: 262px;
}

.foto3{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 262px;
}

.foto4{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 215px;
        top: 696px;
}

.foto5{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 615px;
        top: 696px;
}

.foto6{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 696px;
}

.foto7{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 215px;
        top: 1130px;
}

.foto8{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 615px;
        top: 1130px;
}

.foto9{
    position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 1130px;
}

.verh{
    position: absolute;
        width: 1170px;
        height: 1360px;
        left: 215px;
        top: 174px;
}

.pidval{
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 1628px;
}